*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* basics and the grid*/

body{
    margin:0 auto;
    font-family: sans-serif;
}


li{
    display: inline;
    list-style: none;
}


.grid{
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "h h h h h h h h h h h "
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}
.h{
    grid-column-start: 8;
    grid-column-end: -1;
}
.c,.f{
    grid-column-start: 1;
    grid-column-end: -1;
}

.c{
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.main-nav{
    float: right;
    padding: 30px;
}

/*header*/
.user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.notif{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    border-radius: 50%;
    background-color: #cc0000;
    color:white;
    position: relative;
    top: -8px;
}

.main-nav ul li{
    padding: 10px;
    cursor: pointer;
}

.txt{
    font-size: 0.80em;
    position: relative;
    top: -5px;
}

/*main-content*/
#hero-logo{
    position: relative;
    left: 120px;
    padding: 20px;
}
.form-element{
    /*border:1px solid blue;*/
}
.search{
    height: 40px;
    box-shadow: 2px 1px 10px #666;
}

input{
    position: relative;
    height: 32px;
    width: 530px;
    top: -16px;
    border: none;
}
.mic{
    position: relative;
    cursor: pointer;
}
.buttons{
    position: relative;
    left: 120px;
    top:20px;
    padding: 10px;
}
button{
    color:#666;
    font-weight: bold;
    border:none;
    background-color:#ededed;
    padding: 10px 20px 10px 20px;
    margin:5px;
    cursor: pointer;
}
button:hover{
    color:#000;
}
.language {
    position: relative;
    top:30px;
    font-size:0.80em;
}
a{
    text-decoration: none;
}
.lang{
    margin:5px;
}

/*footer*/

footer{
    background-color:#ededed;
    position: absolute;
    bottom: 0px;
    color: #666;
    width: 100%;
}
.country{
    font-size:0.85em;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 10px;
}
.bottom-nav{
    border-top: 1px solid #ddd;
    padding: 10px;
}
.right-nav{
    top:-15px;
    position: relative;
    float: right;
}

.left-nav li, .right-nav li{
    padding: 10px;
    font-size:0.80em;
    cursor: pointer;
}
.left-nav li:hover, .right-nav li:hover{
    text-decoration: underline;
}